# Core
numpy
pandas
matplotlib
Pillow

# Deep Learning
torch
torchvision

# MLOps / Orchestration
mlflow
dagster
dagster-webserver
dagster-mlflow

# Serving
gradio

# Monitoring / Drift
evidently

# Utils
openpyxl